.tabs {
  display: flex;
  gap: 5px;
  margin-bottom: 10px;
}
.tabs button {
  flex: 1 1 auto;
  padding: 6px 8px;
  border: 1px solid #ccc;
  background: #eee;
  cursor: pointer;
}
.tabs button.active {
  background: #ddd;
  font-weight: bold;
}
#stateTab {
  max-height: 50vh;
  overflow: auto;
}

#cfgTab {
  height: 90vh;
  display: flex;
}